@layer base, components, utilities;

/* Reset css */
@import url('bmi-calculator/components/css/_base.css');

@import url('bmi-calculator/components/css/hero.css');

@import url('bmi-calculator/components/css/result.css');

@import url('bmi-calculator/components/css/tips.css');

@import url('bmi-calculator/components/css/limitations.css');

@import url('bmi-calculator/components/css/utils.css');
