@layer components {
    .hero-section {
        position: relative;
        overflow: hidden;
        & .calculator-wrapper{
            padding: var(--spacing-11) var(--spacing-18);

            @media screen and (max-width: 768px) {
                padding: var(--spacing-4) var(--spacing-5);
            }

            @media screen and (max-width: 425px) {
                padding: var(--spacing-4) var(--spacing-3);
            }

            & .icon-wrapper {
                margin-bottom: var(--spacing-3);
                img {
                    width: 64px;
                    height: 64px;
                }
                @media screen and (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: var(--spacing-0);
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            & .content-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--spacing-4);
                & .content {
                    margin-top: var(--spacing-9);
                    text-align: left;
                    & .content-desc {
                        max-width: 465px;
                        margin-top: var(--spacing-4);
                        color: var(--clr-grey-500);
                    }
                }
                @media screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                    gap: var(--spacing-0);
                    & .content {
                        text-align: center;
                        margin-block: var(--spacing-5);
                        @media screen and (max-width: 425px) {
                            margin-block: var(--spacing-4);
                        }
                        & .content-desc{
                            max-width:fit-content;
                        }
                    }
                }

                & .calculator {
                    background-color: var(--clr-white);
                    padding: var(--spacing-4);
                    border-radius: var(--spacing-2);
                    box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);

                    & .calc-form {
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-4);

                        @media screen and (max-width: 768px) {
                            gap: var(--spacing-3);
                        }
                        & .metric-selection {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: var(--spacing-3);
                            align-items: center;

                            & .radio-option {
                                display: flex;
                                align-items: center;
                                gap: var(--spacing-2);
                                position: relative;
                                cursor: pointer;
                                user-select: none;

                                & input[type="radio"] {
                                    display: none;
                                }
                                & .custom-radio {
                                    width: 31px;
                                    height: 31px;
                                    border: 2px solid var(--clr-grey-500);
                                    border-radius: 50%;
                                    display: inline-block;
                                    position: relative;
                                    transition: all 0.1s ease;
                                
                                }
                                input[type="radio"]:checked + .custom-radio {
                                    border: none;
                                    background-color: var(--clr-blue-100);

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 15px;
                                        height: 15px;
                                        background-color: var(--clr-blue-500);
                                        border-radius: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                           }
                        }   

                        & .input-group-metric {
                            display: none;
                            gap: var(--spacing-3);

                            @media screen and (max-width: 425px) {
                                flex-direction: column;
                                gap: var(--spacing-2);
                            }

                            & .input-wrapper {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                gap: var(--spacing-1);
                               
                                & label {
                                    color: var(--clr-grey-500);
                                }
                            }   
                        }

                        & .input-group-imperial {
                            display: none;
                            flex-direction: column;
                            gap: var(--spacing-4);

                            @media screen and (max-width: 425px) {
                                gap: var(--spacing-2);
                            }

                            & .inputs-wrapper {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                gap: var(--spacing-1);
                                & .input-pair-wrapper {
                                    display: flex;
                                    gap: var(--spacing-3);
                                    @media screen and (max-width: 425px) {
                                        gap: var(--spacing-2);
                                    }
                                }
                                & label {
                                    color: var(--clr-grey-500);
                                }
                            }
                
                        }

                        & .input-group-imperial.active, 
                        & .input-group-metric.active {
                            display: flex;
                        }

                        & .result-wrapper {
                            padding: var(--spacing-4);
                            background-color: var(--clr-blue-500);
                            border-radius: var(--spacing-2) var(--spacing-18) var(--spacing-18) var(--spacing-2);
                            color: var(--clr-white);
                             & .result {
                                margin-bottom: var(--spacing-2);
                            }
                            @media screen and (max-width: 425px) {
                                border-radius: var(--spacing-2);
                                & .result {
                                    margin-bottom: var(--spacing-3);
                                }
                            }
                           
                        }
                        
                    }
                }
            }
        }
    }
}